* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #292929;
  overflow-x: hidden;
}


.create-post-container {
  border-radius: 10px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;

}

.iframe-near {
  overflow: hidden;
}